.box {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    width: 500px;
    height: 800px;
    padding: 10px;
    border: 5px solid white;
}
body{

    background-color: black;
}

.post-header {
    float: none;
    margin-bottom: auto;
    justify-content: space-between;
}
.post-img{
    width: auto;
    height: 100%;
}
#img {
    display: block;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
}
#post-info {
    justify-content: last baseline;
}